body {
  background-image: url('StarPhoto3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #567b96;
    color: #FEE42F;
  
   font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;


    text-align: center;
    margin: 0;
    padding: 20px;
}
header{
    color: #d1f2f5;
    font-size: 50px;
}

h1 {
    color: #d1f2f5;
}
h2{
 color:#d1f2f5;
}
h3{
 color:#d1f2f5;
}
h4{
 color:#d1f2f5;
}
h5{
 color:#d1f2f5;
}
footer{
 color:#d1f2f5;
}
h6{
    color:#567b96;
}
a:link {
  color: #d1f2f5;
}
a:visited {
  color: #d1f2f5;
}
a:hover {
  color: #e2f6f8;
}
a:active {
  color:#d1f2f5;
}