body {
    background-color: #567b96;
    color: #FEE42F;
    
  font-family: "Bpmf Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;


    text-align: center;
    margin: 0;
    padding: 20px;
}
header{
    color: #FEE42F;
    font-size: 50px;
}

h1 {
    color: #FEE42F;
}
h2{
 color:#FEE42F;
}
h3{
 color:#FDF652;
}
h6{
    color:#567b96;
}
a:link {
  color: #FEE42F;
}
a:visited {
  color: #FEE42F;
}
a:hover {
  color: #ffec6f;
}
a:active {
  color:#FEE42F;
}